<!-- Footer -->
<footer class="page-footer font-small mdb-color darken-3 pt-4">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/">Acrescentar Nome da Empresa</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->