<!DOCTYPE HTML>

<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- the name that show on the bar-->
    <title>Your Website</title>
    <!--  the icon on the bar   -->
    <link rel="icon" type="image/png" href="#"/>
    <!-- bootstrap cdn -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag
    //cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js
    //maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css
    //maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js
    ---------->
    <script src="cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"></script>
    <script src="maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <link href="/stylesheets/main.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<!-- nav bar 1-->

<div class="">

    <nav class="navbar navbar-expand-lg justify-content-start navbar-dark bg-dark">



            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/">Home</a>
                <a class="nav-item nav-link active" href="#">Login</a>
                <a class="nav-item nav-link active" href="#">Sign Up</a>
                <a class="nav-item nav-link active" href="/quem-somos">Quem somos</a>
                <a class="nav-item nav-link active" href="/contactos">Contactos</a>
            </div>
        <div class="navbar-collapse collapse dual-collapse2">
                <form class="form-inline my-2 my-lg-0 navbar-form navbar-nav ml-auto">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-warning" type="submit">Search</button>
                </form>
        </div>
    </nav>
</div>

    <!-- navbar 2 -->

<div class =" jumbotron form-inline test1"  >
        <!-- in this link go to about page -->
        <a class="navbar-brand" href="/">
            <h1>Venda de produtos apicolas</h1>
            <p>Pulvinar mattis nunc sed blandit. Ullamcorper a lacus vestibulum sed arcu non odio.
                Enim nulla aliquet porttitor lacus luctus.</p>
            <img src="/resources/bee_logo.png" width="150" height="150" class="d-inline-block align-middle" alt="bee logo">
        </a>
</div>
<!-- test nav 3-->
<div>
    <nav class="navbar  nav-justified ">
        <a class="nav-item nav-link " href="/">Inicio</a>
        <a class="nav-item nav-link active" href="/alimento">Alimento</a>
        <a class="nav-item nav-link active" href="/colmeias">Colmeias</a>
        <a class="nav-item nav-link active" href="/embalagens">Embalagens</a>
        <a class="nav-item nav-link active" href="#">Maquinas</a>
        <a class="nav-item nav-link active" href="#">Produtos</a>
        <a class="nav-item nav-link active" href="#">Produtos da abelha</a>
    </nav>
</div>
