<% include partials/header.ejs%>
<h1>Quem somos</h1>

<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Hendrerit dolor magna eget est lorem ipsum dolor sit amet. Egestas quis ipsum suspendisse ultrices gravida dictum.
    Quisque id diam vel quam elementum pulvinar etiam non. Pellentesque elit ullamcorper dignissim cras tincidunt lobortis.
    Cursus metus aliquam eleifend mi in nulla posuere. Ipsum suspendisse ultrices gravida dictum fusce ut placerat orci.
    Viverra maecenas accumsan lacus vel facilisis volutpat est. Parturient montes nascetur ridiculus mus mauris vitae ultricies leo.
    Faucibus pulvinar elementum integer enim neque volutpat ac tincidunt. Ullamcorper velit sed ullamcorper morbi tincidunt ornare.
    Tristique nulla aliquet enim tortor at. Id eu nisl nunc mi ipsum faucibus vitae.</p>

 <p>Pulvinar mattis nunc sed blandit. Ullamcorper a lacus vestibulum sed arcu non odio. Enim nulla aliquet porttitor lacus luctus.
     Cursus vitae congue mauris rhoncus aenean vel elit. Nisl rhoncus mattis rhoncus urna neque. Aliquam eleifend mi in nulla
     posuere sollicitudin aliquam. Varius sit amet mattis vulputate enim. Phasellus vestibulum lorem sed risus ultricies
     tristique nulla. Amet facilisis magna etiam tempor orci eu lobortis. Nullam eget felis eget nunc lobortis mattis aliquam
     faucibus. Nulla facilisi morbi tempus iaculis urna id. Fusce ut placerat orci nulla pellentesque. Pretium vulputate sapien
     nec sagittis aliquam malesuada bibendum arcu. Faucibus pulvinar elementum integer enim. Quis commodo odio aenean sed
     adipiscing diam donec. </p>

<% include partials/footer.ejs%>