<% include partials/header.ejs%>
<h1>Contactos</h1>

<p>Pulvinar mattis nunc sed blandit. Ullamcorper a lacus vestibulum sed arcu non odio. Enim nulla aliquet porttitor lacus luctus.
    Cursus vitae congue mauris rhoncus aenean vel elit. Nisl rhoncus mattis rhoncus urna neque. Aliquam eleifend mi in nulla
    posuere sollicitudin aliquam. Varius sit amet mattis vulputate enim. Phasellus vestibulum lorem sed risus ultricies
    tristique nulla. Amet facilisis magna etiam tempor orci eu lobortis. Nullam eget felis eget nunc lobortis mattis aliquam
    faucibus. Nulla facilisi morbi tempus iaculis urna id. Fusce ut placerat orci nulla pellentesque. Pretium vulputate sapien
    nec sagittis aliquam malesuada bibendum arcu. Faucibus pulvinar elementum integer enim. Quis commodo odio aenean sed
    adipiscing diam donec. </p>

<% include partials/footer.ejs%>