<% include partials/header.ejs%>
<div>
<!--
<img src="https://cdn.pixabay.com/photo/2016/11/29/05/28/apiary-1867537_960_720.jpg">
<img src="https://cdn.pixabay.com/photo/2016/01/16/13/55/beehive-1143380_960_720.jpg">
<img src="https://cdn.pixabay.com/photo/2016/11/07/16/33/bees-1806219_960_720.jpg">

-->
<div class ="container">

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3" class="active"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/resources/beekeeper.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item active">
                <img src="/resources/beekeeper2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item active">
                <img src="/resources/beekeeper3.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item active">
                <img src="/resources/beekeeper4.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
</div>


<% include partials/footer.ejs%>